[v-cloak] {
  display: none;
}

#navbar {
  background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}

#logo {
  color: white;
}

.al-jump-link[href="self"] {
  visibility: hidden !important;
}
