<html>
  <head>
    <meta charset="UTF-8" />
    <title>Any Logger</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <script src="./!/al.js"></script>
    <link rel="stylesheet" href="./!/al.css">
  </head>
  <body>

    <div id="app" v-cloak>

      <div id="navbar" class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar">
            <div id="logo" class="uk-navbar-left">
              <a href="./" class="uk-text-large uk-link-text">ᚨᚾᚣ ᛚᚩᚷᚷᛖᚱ</a>
            </div>

            <div class="uk-navbar-right uk-margin-small-top">
              <form class="uk-text-center">
                <select class="uk-select uk-form-width-medium" v-model="sort" v-on:change="updateSort">
                  <option value="updateTime">Sort by update time</option>
                  <option value="name">Sort by name</option>
                </select>
              </form>
            </div>
          </nav>
        </div>
      </div>

      <div class="uk-container uk-container-expand">

        <div class="uk-section uk-section-xsmall">
          <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
            <div v-for="group in groups">
              <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="uk-card-title uk-margin-remove">
                  <a :href="'./' + group.name" class="uk-link">
                    {{ group.name }}
                  </a>
                </h3>
                <p class="uk-text-large uk-margin-small">
                  <a class="uk-link" @mouseup="clearTargets" :href="url(group.name, 'log')">📰</a>
                  <a class="uk-link" @mouseup="clearTargets" :href="url(group.name, 'chart')">📈</a>
                  <a class="uk-link" @mouseup="clearTargets" :href="url(group.name, 'latest')">🔢</a>
                  <a class="uk-link" @mouseup="clearTargets" :href="url(group.name, 'count')">📊</a>
                  <a class="add-chart" @click="addTarget(group.name)">➕</a>
                </p>
                <p class="uk-text-muted uk-margin-remove">
                  {{ shortenDateTime(group.last_created_at) }} ({{ elapsedTimeText(group.last_created_at) }})
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-section uk-section-xsmall uk-flex-center" uk-grid>
          <span
            class="uk-label uk-margin-small-right"
            v-for="target in targets">
            {{ target }}
          </span>
        </div>

      </div>

    </div>

    <script>
      function uniq(array) {
        return [...new Set(array)];
      }

      const save = AL.Save('latest', {
        sort: 'name',
      }, {
        groups: [],
        targets: [],
      });

      function updateSort() {
        const cmp = {
          updateTime: (a, b) => b.last_created_at.localeCompare(a.last_created_at),
          name: (a, b) => a.name.localeCompare(b.name),
        }
        save.data.groups.sort(cmp[save.data.sort]);
      }


      const app = new Vue({
        el: '#app',
        data: save.data,
        methods: {
          addTarget: (name) => {
            save.data.targets.push(name);
          },
          clearTargets: () => {
            setTimeout(() => (save.data.targets = []), 20);
          },
          elapsedTimeText: (dt) => {
            return AL.elapsedTimeText(AL.parseDateTime(dt).local)
          },
          shortenDateTime: AL.shortenDateTime,
          url: (name, page) => {
            const targets = save.data.targets.concat([name]);
            return  './!/' + page + '?target=' + uniq(targets).join(',');
          },
          updateSort: () => {
            updateSort();
            save.update();
          },
        },
        mounted: async () => {
          const groups = await fetch('./!/groups.json').then((it) => it.json());
          save.data.groups = groups;
          updateSort();
        }
     })
    </script>
  </body>
</html>
