<html>
  <head>
    <meta charset="UTF-8" />
    <title>Any Logger</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="./al.js"></script>
    <link rel="stylesheet" href="./al.css">
  </head>
  <body>

    <div id="app" v-cloak>

      <div id="navbar" class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar">
            <div id="logo" class="uk-navbar-left">
              <a href="../" class="uk-text-large uk-link-text">ᚨᚾᚣ ᛚᚩᚷᚷᛖᚱ</a>
            </div>

            <div class="uk-navbar-right uk-margin-small-top">
              <form class="uk-text-center">
                <select class="uk-select uk-form-width-medium" v-model="since" v-on:change="updateParam">
                  <option value="1">1 minute ago</option>
                  <option value="10">10 minutes ago</option>
                  <option value="20">20 minutes ago</option>
                  <option value="30">30 minutes ago</option>
                  <option value="60">1 hour ago</option>
                  <option value="120">2 hours ago</option>
                  <option value="360">6 hours ago</option>
                  <option value="1440">1 day ago</option>
                  <option value="4320">3 days ago</option>
                  <option value="10080">1 week ago</option>
                  <option value="43200">1 month ago</option>
                  <option value="129600">3 months ago</option>
                  <option value="259200">6 months ago</option>
                  <option value="525600">1 year ago</option>
                  <option value="1576800">3 year ago</option>
                </select>
                <select class="uk-select uk-form-width-medium" v-model="interval" v-on:change="updateParam">
                  <option value="1000">Every 1 second</option>
                  <option value="5000">Every 5 seconds</option>
                  <option value="60000">Every 1 minute</option>
                  <option value="600000">Every 10 minutes</option>
                </select>
                <select class="uk-select uk-form-width-medium" v-model="sort" v-on:change="updateSort">
                  <option value="updateTime">Sort by update time</option>
                  <option value="name">Sort by name</option>
                </select>
              </form>
              <span class="uk-text-large">📋</span>
              <div uk-dropdown>
                <div class="uk-nav uk-dropdown-nav uk-text-large">
                  <a class="al-jump-link" :href="jump('log')">📰</a>
                  <a class="al-jump-link" :href="jump('chart')">📈</a>
                  <a class="al-jump-link" :href="jump('latest')">🔢</a>
                  <a class="al-jump-link" :href="jump('count')">📊</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>


      <div class="uk-container uk-container-expand">

        <div class="uk-section uk-section-xsmall">
          <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center uk-text-center" uk-grid>
            <div v-for="[name, item] in items">
              <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="uk-card-title uk-margin-remove uk-text-primary">
                  {{ name }}
                </h3>
                <p class="uk-text-large uk-text-lead uk-margin-small">
                  {{ item.data }}
                </p>
                <p class="uk-text-muted uk-margin-remove">
                  ({{ elapsedTimeText(item.created_at.utc) }})
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <script language="JavaScript">
      const names = AL.targetNames();

      const save = AL.Save('latest', {
        since: 10,
        interval: 5 * 1000,
        sort: 'updateTime',
      }, {
        items: {},
      });

      let updaterHandle = null;


      function updateSort(items) {
        const cmp = {
          updateTime: (a, b) => (b[1].created_at.utc - a[1].created_at.utc),
          name: (a, b) => (a[0].localeCompare(b[0])),
        }
        items.sort(cmp[save.data.sort]);
      }

      window.onload = () => {
        const app = new Vue({
          el: '#app',
          data: save.data,
          mounted: async () => {
            update();
          },
          methods: {
            jump: AL.jump,

            updateSort: () => {
              updateSort(save.data.items);
              save.update();
            },
            elapsedTimeText: AL.elapsedTimeText,
            updateParam: () => {
              if (updaterHandle) {
                clearTimeout(updaterHandle);
              }
              update();
              save.update();
            },
          },
        });

        async function update() {
          const since = parseInt(new Date().getTime() / 1000 - save.data.since * 60);
          const itemsTable = {};

          for (let name of names) {
            const baseUrl = location.host == '0.0.0.0' ? './' : '../';
            const raw = await fetch(baseUrl + name + '.json?since=' + since);
            (await raw.json()).forEach((item) => {
              AL.scanData(item, name, 1 < names.length).forEach(({name, data, created_at}) => {
                itemsTable[name] = {data, created_at};
              });
            });
          }

          const items = [];
          for (const [name, item] of Object.entries(itemsTable)) {
            items.push([name, item]);
          }
          updateSort(items);
          Vue.set(save.data, 'items', items);

          updaterHandle = setTimeout(AL.ensure(update), save.data.interval);
        }
      }
    </script>
  </body>
</html>
