<html>
  <head>
    <meta charset="UTF-8" />
    <title>Any Logger</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <script src="./al.js"></script>
    <link rel="stylesheet" href="./al.css">
  </head>
  <body>

    <div id="app">

      <div id="navbar" class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar">
            <div id="logo" class="uk-navbar-left">
              <a href="../" class="uk-text-large uk-link-text">ᚨᚾᚣ ᛚᚩᚷᚷᛖᚱ</a>
            </div>

            <div class="uk-navbar-right uk-margin-small-top">
              <form class="uk-text-center">
                <select class="uk-select uk-form-width-medium" v-model="since" v-on:change="refetch">
                  <option value="1">1 minute ago</option>
                  <option value="10">10 minutes ago</option>
                  <option value="20">20 minutes ago</option>
                  <option value="30">30 minutes ago</option>
                  <option value="60">1 hour ago</option>
                  <option value="120">2 hours ago</option>
                  <option value="360">6 hours ago</option>
                  <option value="1440">1 day ago</option>
                  <option value="4320">3 days ago</option>
                  <option value="10080">1 week ago</option>
                  <option value="43200">1 month ago</option>
                  <option value="129600">3 months ago</option>
                  <option value="259200">6 months ago</option>
                  <option value="525600">1 year ago</option>
                  <option value="1576800">3 year ago</option>
                </select>
                <select class="uk-select uk-form-width-medium" v-model="interval" v-on:change="updateInterval">
                  <option value="1000">Every 1 second</option>
                  <option value="5000">Every 5 seconds</option>
                  <option value="60000">Every 1 minute</option>
                  <option value="600000">Every 10 minutes</option>
                </select>
              </form>
              &nbsp;
              <span class="uk-text-large">📋</span>
              <div uk-dropdown>
                <div class="uk-nav uk-dropdown-nav uk-text-large">
                  <a class="al-jump-link" :href="jump('log')">📰</a>
                  <a class="al-jump-link" :href="jump('chart')">📈</a>
                  <a class="al-jump-link" :href="jump('latest')">🔢</a>
                  <a class="al-jump-link" :href="jump('count')">📊</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="uk-container uk-container-expand">

        <div class="uk-section uk-section-xsmall">
          <ul class="uk-list" id="chart">
            <li v-for="entry in entries">
              <span class="uk-text-muted">[{{ entry.created_at }}]</span>
              <span class="uk-text-warning uk-text-bold">{{ entry.name }}</span>
              <span class="uk-text-bold">{{ entry.data }}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <script>
      window.onload = async () => {

        const fetcher = AL.Fetcher(() => {
          return parseInt(new Date().getTime() / 1000 - save.data.since * 60);
        });

        const names = AL.targetNames();

        const save = AL.Save(
          'log', {
            since: 10,
            interval: 1 * 1000,
          }, {entries: []});

        let updateAtFirst = true;

        const updater = AL.Updater(() => save.data.interval, async () => {
          const body = document.body;
          const atBottom = body.scrollTop === body.scrollTopMax;

          let updated = false;

          for (let name of names) {
            const items = await fetcher.fetch(name);
            items.forEach((item) => {
              save.data.entries.push(Object.assign(item, {name}));
              updated = true;
            });
          }

          if (!updateAtFirst && updated && atBottom) {
            body.scrollTop = body.scrollTopMax;
          }

          updateAtFirst = false;
        });
        updater.restart(true);

        const app = new Vue({
          el: '#app',
          data: save.data,
          mounted: async () => {},
          methods: {
            jump: AL.jump,

            refetch: async () => {
              save.update();
              save.data.entries = [];
              fetcher.reset();
              updater.restart(true);
            },

            updateInterval: () => {
              save.update();
              updater.restart(false);
            }
          }
        });

      }
    </script>
  </body>
</html>
